/*
* App Specific CSS
*/

html {
    font-size: 12px;
    min-width: 360px;
    background-color: black;
}

.holder h1 {
    font-size: 3rem;
    margin: 0;
}

.holder h2 {
    font-size: 2rem;
}

.holder h3 {
    font-size: 1.5rem;
}

.bg-one {
    background: transparent url(../images/jumbo-bg.jpg) no-repeat top center;
    background-size: cover;
    height: 1583px;
    -webkit-transition: opacity 2s ease;
}

.bg-one.hide {
    opacity: 0;
}

body {
    font-family: 'lobster_1.3regular';
}

html .container .title-box {
    text-align: center;
    position: absolute;
    top: 180px;
    opacity: 0;
    -webkit-transition: all 2s ease;
    width: 100%;
}

html .container .title-box.show {
    opacity: 1;
    top: 200px;
}

html .container .title-box.collapse {
    top: -300px;
}

.title-box .holder {
    width: 50%;
    margin: auto;
}

.title-box .holder.large {
    width: 80%;
}

.title-box h1 {
    font-size: 6rem;
    color: #fff;
    text-shadow: 1px 2px #333;
    line-height: 75px;
}

.title-box h2 {
    font-size: 4rem;
    line-height: 60px;
    color: #999;
}