.showReadme {
    font-size: 3rem;
    opacity: 0;
    color: #fff;
    position: relative;
    top: 20px;
    left: -10px;
    cursor: pointer;
    -webkit-transition: all 2s ease;
}

.showReadme.show {
    opacity: 1;
    left: 0;
}

.holdReadme {
    display: none;
    opacity: 0;
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    font-family: monospace;
    overflow-wrap: break-word;
    text-align: left;
    font-size: 1.2rem;
    position: relative;
    top: 130px;
    width: 900px;
    margin: auto;
    -webkit-transition: opacity 2s ease;
}

.holdReadme.show {
    opacity: 1;
}

html .holdReadme h1 {
    color: black;
    text-shadow: none;
}

html .holdReadme p, html .holdReadme ul, html .holdReadme ol  {
    margin-top: 20px;
    margin-bottom: 20px;
}

html .holdReadme h2, html .holdReadme h3 {
    font-weight: bold;
}

html .holdReadme ol, html .holdReadme ul {
    list-style: initial;
}

html .holdReadme li {
    margin-left: 20px;
}